# Exploring Ebay Car Sales Data:-
*We'll work with a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.*

**Importing Essential Python Library**

In [1]:
import pandas as pd
import numpy as np

**Reading the Data file**

In [2]:
autos = pd.read_csv('autos.csv', encoding='Latin-1')

**Getting Familiar Data Set**

In [3]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [52]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [5]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

**Let's convert the column names from `camelcase (aB)` to `snakecase (a_b)` and change the word some of the column names based on the data dictionary to be more descriptive.**

In [6]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest', 'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model', 'odometer', 'registration_month', 'fuel_type', 'brand', 'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code', 'last_seen']

In [7]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [8]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-04-04 16:40:33,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

**Removing Unwanted String from the Data and changing the numeric values from `String-type` to `Numeric-type` (either int or float).** 

*Then change the corresponding column name in an appropriate manner.*

In [9]:
autos["price"] = autos["price"].str.replace('$','').str.replace(',','').astype(float)

In [10]:
autos['price'].head()

0    5000.0
1    8500.0
2    8990.0
3    4350.0
4    1350.0
Name: price, dtype: float64

In [11]:
autos["odometer"] = autos["odometer"].str.replace('km','').str.replace(',','').astype(float)

In [12]:
autos['odometer'].head()

0    150000.0
1    150000.0
2     70000.0
3     70000.0
4    150000.0
Name: odometer, dtype: float64

In [13]:
autos = autos.rename(index=str, columns={"odometer": "odometer_km"})

In [14]:
autos['odometer_km'].value_counts()

150000.0    32424
125000.0     5170
100000.0     2169
90000.0      1757
80000.0      1436
70000.0      1230
60000.0      1164
50000.0      1027
5000.0        967
40000.0       819
30000.0       789
20000.0       784
10000.0       264
Name: odometer_km, dtype: int64

In [15]:
print(autos["price"].min())
print(autos["price"].max())
print(autos["odometer_km"].min())
print(autos["odometer_km"].max())

0.0
99999999.0
5000.0
150000.0

In [16]:
autos["price"].unique().shape

(2357,)

In [17]:
autos["price"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

**From above we can see that the price is so much expensive(in reality it's impossible) because of this issue, we going to limit it upto `1000000`.**

In [18]:
price_review_asc = autos["price"].value_counts(sort = True).sort_index(ascending = True).head()
print(price_review_asc)

0.0    1421
1.0     156
2.0       3
3.0       1
5.0       2
Name: price, dtype: int64

In [19]:
price_review_desc = autos["price"].value_counts(sort = True).sort_index(ascending = False).head()
print(price_review_desc)

99999999.0    1
27322222.0    1
12345678.0    3
11111111.0    2
10000000.0    1
Name: price, dtype: int64

In [20]:
autos = autos[autos["price"].between(2,1000000)]

In [21]:
price_review_asc = autos["price"].value_counts(sort = True).sort_index(ascending = True).head()
print(price_review_asc)

2.0    3
3.0    1
5.0    2
8.0    1
9.0    1
Name: price, dtype: int64

In [22]:
price_review_desc = autos["price"].value_counts(sort = True).sort_index(ascending = False).head()
print(price_review_desc)

999999.0    2
999990.0    1
350000.0    1
345000.0    1
299000.0    1
Name: price, dtype: int64

In [23]:
autos['odometer_km'].unique().shape

(13,)

In [24]:
autos['odometer_km'].describe()

count     48412.000000
mean     125789.886805
std       39736.834597
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [25]:
autos_odometer_asc = autos['odometer_km'].value_counts().sort_index(ascending=True).head()
print(autos_odometer_asc)

5000.0     815
10000.0    250
20000.0    762
30000.0    779
40000.0    815
Name: odometer_km, dtype: int64

In [26]:
autos_odometer_desc = autos['odometer_km'].value_counts().sort_index(ascending=False).head()
print(autos_odometer_desc)

150000.0    31309
125000.0     5047
100000.0     2108
90000.0      1733
80000.0      1414
Name: odometer_km, dtype: int64

In [27]:
autos

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manuell,158,andere,150000.0,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatik,286,7er,150000.0,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,golf,70000.0,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000.0,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,2003,manuell,0,focus,150000.0,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900.0,control,limousine,2011,automatik,239,q5,100000.0,1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980.0,control,cabrio,1996,manuell,75,astra,150000.0,5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200.0,test,cabrio,2014,automatik,69,500,5000.0,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900.0,control,kombi,2013,manuell,150,a3,40000.0,11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,1250.0,control,limousine,1996,manuell,101,vectra,150000.0,1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [28]:
autos[['date_crawled', 'ad_created', 'last_seen']].head()

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

**Along with date, time is also present which makes data much more complex so we remove the time.**

In [29]:
autos['date_crawled'] = autos['date_crawled'].str[:10]

autos['ad_created'] = autos['ad_created'].str[:10]

autos['last_seen'] = autos['last_seen'].str[:10]

In [30]:
autos['date_crawled'].value_counts(normalize=True, dropna=False).sort_index().head()

2016-03-05    0.025366
2016-03-06    0.014067
2016-03-07    0.036045
2016-03-08    0.033277
2016-03-09    0.033050
Name: date_crawled, dtype: float64

In [31]:
autos['ad_created'].value_counts(normalize=True, dropna=False).sort_index().head()

2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
Name: ad_created, dtype: float64

In [32]:
autos['last_seen'].value_counts(normalize=True, dropna=False).sort_index().head()

2016-03-05    0.001074
2016-03-06    0.004338
2016-03-07    0.005412
2016-03-08    0.007374
2016-03-09    0.009626
Name: last_seen, dtype: float64

In [33]:
autos['registration_year'].describe()

count    48412.000000
mean      2004.773507
std         88.780641
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

**Above, we found that minimum year is 1000, so we range it from `1900`**

In [34]:
autos = autos[autos['registration_year'].between(1900,2016)]

In [35]:
autos['registration_year'].describe()

count    46534.000000
mean      2002.925323
std          7.160956
min       1910.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

In [36]:
autos['registration_year'].value_counts(normalize=True, dropna=False).head()

2000    0.067220
2005    0.062900
1999    0.062019
2004    0.058022
2003    0.057958
Name: registration_year, dtype: float64

In [37]:
uniq_brands = autos['brand'].value_counts(normalize=False)[:20]
uniq_brands

volkswagen        9836
bmw               5116
opel              4996
mercedes_benz     4488
audi              4030
ford              3257
renault           2193
peugeot           1390
fiat              1195
seat               850
skoda              764
nissan             712
mazda              709
smart              661
citroen            653
toyota             593
hyundai            467
sonstige_autos     449
volvo              425
mini               409
Name: brand, dtype: int64

**A person looks two things before buy automobiles they are:**
- Mileage
- Price

In [38]:
brand_mean_prices = {} # Brand wise price
mean_mileage = {} # Brand wise price

In [39]:
uniq_brands.index

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'nissan', 'mazda', 'smart',
       'citroen', 'toyota', 'hyundai', 'sonstige_autos', 'volvo', 'mini'],
      dtype='object')

In [40]:
for brand in uniq_brands.index:
    mean_price = autos[autos['brand'] == brand]['price'].mean()
    
    mean_mile = autos[autos['brand'] == brand]['odometer_km'].mean()
    
    brand_mean_prices[brand] = mean_price
    
    mean_mileage[brand] = mean_mile
    
brand_mean_prices

{'volkswagen': 5620.021451809679,
 'bmw': 8367.020719311962,
 'opel': 2990.7203763010407,
 'mercedes_benz': 8657.285427807486,
 'audi': 9362.169478908188,
 'ford': 4063.4052809333743,
 'renault': 2483.889192886457,
 'peugeot': 3100.6928057553955,
 'fiat': 2818.456066945607,
 'seat': 4412.747058823529,
 'skoda': 6384.667539267016,
 'nissan': 4750.063202247191,
 'mazda': 4112.596614950635,
 'smart': 3580.2239031770046,
 'citroen': 3784.924961715161,
 'toyota': 5167.091062394604,
 'hyundai': 5376.740899357602,
 'sonstige_autos': 12585.850779510023,
 'volvo': 4969.774117647059,
 'mini': 10613.459657701711}

In [41]:
mean_mileage

{'volkswagen': 128712.89141927613,
 'bmw': 132553.75293197812,
 'opel': 129322.4579663731,
 'mercedes_benz': 130838.9037433155,
 'audi': 129208.43672456576,
 'ford': 124210.9303039607,
 'renault': 128144.09484724123,
 'peugeot': 127122.30215827338,
 'fiat': 117066.94560669456,
 'seat': 121029.41176470589,
 'skoda': 110746.07329842931,
 'nissan': 118370.78651685393,
 'mazda': 124464.03385049365,
 'smart': 99326.77760968229,
 'citroen': 119647.77947932619,
 'toyota': 115944.35075885328,
 'hyundai': 106541.75588865097,
 'sonstige_autos': 90256.12472160357,
 'volvo': 138294.11764705883,
 'mini': 88105.13447432763}

In [42]:
bmp_series = pd.Series(brand_mean_prices) # bmp = Brand Mileage Price
mileage_series = pd.Series(mean_mileage)
bmp_series

volkswagen         5620.021452
bmw                8367.020719
opel               2990.720376
mercedes_benz      8657.285428
audi               9362.169479
ford               4063.405281
renault            2483.889193
peugeot            3100.692806
fiat               2818.456067
seat               4412.747059
skoda              6384.667539
nissan             4750.063202
mazda              4112.596615
smart              3580.223903
citroen            3784.924962
toyota             5167.091062
hyundai            5376.740899
sonstige_autos    12585.850780
volvo              4969.774118
mini              10613.459658
dtype: float64

In [43]:
mileage_series

volkswagen        128712.891419
bmw               132553.752932
opel              129322.457966
mercedes_benz     130838.903743
audi              129208.436725
ford              124210.930304
renault           128144.094847
peugeot           127122.302158
fiat              117066.945607
seat              121029.411765
skoda             110746.073298
nissan            118370.786517
mazda             124464.033850
smart              99326.777610
citroen           119647.779479
toyota            115944.350759
hyundai           106541.755889
sonstige_autos     90256.124722
volvo             138294.117647
mini               88105.134474
dtype: float64

In [44]:
df = pd.DataFrame(bmp_series, columns = ['mean_price'])
df['mean_mileage'] = mileage_series
df

                  mean_price   mean_mileage
volkswagen       5620.021452  128712.891419
bmw              8367.020719  132553.752932
opel             2990.720376  129322.457966
mercedes_benz    8657.285428  130838.903743
audi             9362.169479  129208.436725
ford             4063.405281  124210.930304
renault          2483.889193  128144.094847
peugeot          3100.692806  127122.302158
fiat             2818.456067  117066.945607
seat             4412.747059  121029.411765
skoda            6384.667539  110746.073298
nissan           4750.063202  118370.786517
mazda            4112.596615  124464.033850
smart            3580.223903   99326.777610
citroen          3784.924962  119647.779479
toyota           5167.091062  115944.350759
hyundai          5376.740899  106541.755889
sonstige_autos  12585.850780   90256.124722
volvo            4969.774118  138294.117647
mini            10613.459658   88105.134474

**Suggestion for the best Vehicles in the sense the vehicles which Costs are `'moderate'` and gives `'good'` Mileage**

In [45]:
df[df['mean_price'].between(5000,8000)]

             mean_price   mean_mileage
volkswagen  5620.021452  128712.891419
skoda       6384.667539  110746.073298
toyota      5167.091062  115944.350759
hyundai     5376.740899  106541.755889

*`I conclude that, above Vehicles gives you best` value for money*